#board{
  height: 500px;
  width: 1000px;
  background-image: url("images/fondo.jpg");
  background-size: 1000px 500px;
}
.soplator{
  height: 80px;
  width: 180px;
  background-image: url("images/soplator2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.cloud{
  height: 100px;
  width: 120px;
  background-image: url("images/nube.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blown{
  height: 50px;
  width: 100px;
  background-image: url("images/soplido.png");
  background-size: cover;
}
.Score{
  height: 200px;
  width: 350px;
  position: absolute;
  right: 23px;
  top: 48px;
  background-image: url("images/scoreboard2.jpg");
  background-size: cover;
  text-align: center;

}

h3{
  font-size: 30px;
}
